@model WishList.Models.Item

<h3>Wishlist</h3>

<a asp-action="create">Add item to wishlist</a>

<form asp-action="create">
    <input asp-for="Description" />
    <span asp-validation-for="Description"></span>
    <button type="submit">Add Item</button>


</form>
